[core]
  editor = vim
  quotepath = false
[user]
  email = 18554747+lawvs@users.noreply.github.com
  name = lawvs
[pager]
  branch = false
[pull]
  ff = on
[push]
  default = simple
[rebase]
  autoStash = true
  autoSquash = true

